# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# VS Code
.vscode/settings.json

# Build
build/
dist/

# Caches
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

*.egg-info/
backend_product_core_v1/
